<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346354872877-a2c664r0oamtk4fo9ap2aggi4hr0934l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346354872877-a2c664r0oamtk4fo9ap2aggi4hr0934l</string>
	<key>API_KEY</key>
	<string>AIzaSyDljHJ6bn0htvZsd1nomrmfpsjai4_ihic</string>
	<key>GCM_SENDER_ID</key>
	<string>346354872877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.ho1.poopee</string>
	<key>PROJECT_ID</key>
	<string>poopee-4d5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>poopee-4d5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346354872877:ios:4b161e39840a93db7d3ea4</string>
	<key>DATABASE_URL</key>
	<string>https://poopee-4d5ec.firebaseio.com</string>
</dict>
</plist>